<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScadaOtrila.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ScadaOtrila.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=EHOX\SQLEXPRESS;Initial Catalog=AutomationOPC;Persist Security Info=True;User ID=sa;Password=3jup.h0xha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ScadaOtrila.Properties.Settings>
            <setting name="lastUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="VRF_Ip" serializeAs="String">
                <value>192.168.0.200</value>
            </setting>
            <setting name="VRF_Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="slaveAddress" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CoolSetpoint" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="HeatSetpoint" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SERIALNUMBER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AirSp1" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="AirSp2" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="AirSp3" serializeAs="String">
                <value>1100</value>
            </setting>
        </ScadaOtrila.Properties.Settings>
    </userSettings>
</configuration>